footer {
    background-color: #002b7f;
    opacity: 60%;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5; /* Ensure content is above the overlay */
}

.social-links img {
    height: 24px;
    margin: 0 0.5rem;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 0.25rem;
    }

    .social-links {
        margin-top: 0.5rem;
    }
}